.courseComment {
  background: #f8f8f8 !important;
}

.courseComment .headerBelowContainer .top {
  padding: 0.18rem 0.1rem 0.18rem 0.1rem;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.courseComment .headerBelowContainer .top span:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #555;
  background: #fff;
}

.courseComment .headerBelowContainer .top span:nth-child(2) {
  background: #fff;
}

.courseComment .headerBelowContainer .top .textDiv {
  font-size: 15px;
  color: #555;
  text-indent: 0.14rem;
  margin-top: 0.18rem;
}

.courseComment .headerBelowContainer .top .date {
  font-size: 14px;
  color: #555;
  margin-top: 0.12rem;
  padding-left: 0.16rem;
}

.courseComment .headerBelowContainer .top .date em:nth-child(2) {
  margin-left: 0.2rem;
  margin-right: 0.1rem;
  padding: 0.01rem 0.02rem 0.01rem 0.02rem;
  color: #222;
}

.courseComment .headerBelowContainer .top img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
}

.courseComment .headerBelowContainer .top .commentDiv {
  width: 100%;
  background: #f8f8f8;
  margin-top: 0.12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0.06rem;
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}

.courseComment .headerBelowContainer .top .commentDiv .nickNameDiv,
.courseComment .headerBelowContainer .top .commentDiv .operationDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #8590a6;
}

.courseComment .headerBelowContainer .top .commentDiv .nickNameDiv span,
.courseComment .headerBelowContainer .top .commentDiv .operationDiv span {
  background: none;
}

.courseComment .headerBelowContainer .top .commentDiv .nickNameDiv img,
.courseComment .headerBelowContainer .top .commentDiv .operationDiv img {
  width: 15px;
  height: 15px;
}

.courseComment .headerBelowContainer .more {
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 15px;
  font-weight: 500;
  background: #f8f8f8;
  height: 0.4rem;
  line-height: 0.4rem;
}
